.tabs{
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
}

.tab{
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgba(98,98,98,.7);
    padding: 1.4rem 2rem;
}

.active{
    color: var(--hlb-btn-primary-color);
    border-bottom: 1px solid var(--hlb-btn-primary-color);
}

.col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.mainInfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.containerBasic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.containerBasic > div > div{
    margin-bottom: 1rem;
}


.contact_type .combo_button {
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: fit-content;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.combo_button button {
  padding: .7rem 1.8rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
  background-color: #fff;
}
.combo_button .active {
  background-color: var(--hlb-btn-primary-color);
  color: #fff;
}

.contact_type p {
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.3rem;
  font-weight: 400;
}

.footer div{
    display: flex;
    justify-content: flex-end;
}

.footer button{
    padding-inline: 6rem;
}

.col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}

.col:first-child{
    margin-top: 1rem;
}

.col:nth-child(3){
    margin-top: 2rem;
}