.section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 8rem;
  gap: 2rem;
  width: 100%; /* Asegura que ocupe el 100% del ancho */
  max-width: 1200px; /* Opcional: Limita el ancho máximo para que no se extienda demasiado */
  margin: 0 auto; /* Centra el contenido en el centro de la pantalla */
}

.image {
  flex: 1;
  text-align: center;
  max-width: 50%; /* Limita el tamaño de la imagen a un 50% */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  flex: 1;
  max-width: 50%; /* Limita el contenido a un 50% */
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -.1rem;
  color: rgb(17, 24, 39);
  margin-bottom: 1rem;
}

.copy {
  color: rgb(107, 114, 128);
  font-size: 1.8rem;
}


.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.image-container {
    width: 50%;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .section {
    flex-direction: column;
    padding-block: 4rem;
  }

  .image {
    margin-bottom: 2rem;
  }

  .title {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .copy {
    font-size: 1.6rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2rem;
  }

  .copy {
    font-size: 1.4rem;
  }
}
