.container{
    padding: 24px 32px;
    min-height: calc(100vh - 8rem);
}


.flex{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.actionsBtn{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.4rem;
}


.button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.button .btn{
    background-color: var(--hlb-btn-primary-color);
    padding: .78rem;
    color: #fff;
    border-radius: 0 .5rem .5rem 0;
    border-left: 1px solid rgba(255, 255, 255, .1);
}

.button .btn:hover{
    background-color: rgb(54, 54, 238);
}

.linkBtn{
    border-radius: .5rem 0 0 .5rem;
}