.container{
    background-color: #111827;
    color: #fff;
}

.content{
    width: min(90%, 135rem);
    margin-inline: auto;
    padding-block: 10rem;
}

.container h2{
    position: relative;
    text-align: center;
    font-size: 8rem;
}

.container h2 span:last-child {
    position: relative;
}
.container h2 svg{
    position: absolute;
    right: -4.5rem;
    bottom: -1rem;
}

.content p{
    text-align: center;
    color: #D1D5DA;
    margin-top: -.5rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.buttons a{
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem 3rem;
    color: #111827;
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--main-color);
}

.buttons a:first-child{
    background-color: var(--main-color);
    color: #fff;
}

.offer{
    background-color: #8BE737;
    position: absolute;
    border-radius: 50rem;
    color: #000;
    font-size: 4.5rem;
    display: inline-flex;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    left: 33rem;
    top: 6rem;
    z-index: 9999;
    transform: rotate(-15deg);
}

.offer span{
    display: block;
}


.offer .desc{
    font-size: 1.4rem;
    color: #000;

}

.discount{
    font-size: 1.4rem;
    line-height: 0;
    margin-bottom: 1rem;
}

@media screen and (max-width:768px) {
    .container h2{
        line-height: 7.5rem;
        margin-bottom: 2rem;
}

    .buttons{
        display: grid;
    }

    .buttons a{
        text-align: center;
        width: 100%;
    }

    .offer{
        left: 0rem;
        top: -5rem;
        font-size: 3.5rem;
        width: 9rem;
        height: 9rem;
    }

    .discount{
        font-size: 1.2rem;
        margin-top: -1.5rem;
        margin-bottom: 2.5rem;
    }
}