*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

html:focus-within {
    scroll-behavior: smooth;
  } 

body{
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}


table {
    border-collapse: collapse;
  }
  
  img,
picture{
    max-width: 100%;
    display: block;
}

ol, ul, menu {
    list-style: none;
  }
  

  input{
    border-radius: .5rem;
    outline: none;
    border: none;
  }

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}


::placeholder {
    color: unset;
  }
  
  textarea {
    white-space: revert;
  }
  
  input, textarea {
    -webkit-user-select: auto;
  }
  

h1, h2, h3, h4, h5{
    margin: 0;
}

ul{
    list-style: none;
}

button{
    outline: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--bg-color);
}

select{
        position: relative;
        display: inline-block;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: .5rem;
        overflow: hidden;
        width: 92%;
    font-size: 1.3rem;
    padding: 0 .7rem;
    -webkit-appearance: menulist-button; /* Para navegadores WebKit */
    -moz-appearance: menulist-button; /* Para navegadores Firefox */
    appearance: menulist-button; 
    z-index: 0 !important;

}

input[type="checkbox"]{
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 0 !important;
}

input[type="checkbox"]:checked{
    background-color: #007bff;
    /* Cambiar el color del borde cuando está seleccionado */
    border-color: #007bff;
}

input[type="checkbox"]::before {
    content: "\2713"; 
    position: absolute;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    visibility: visible;
  }

  iframe{
    width: 100%;
  }

  input[type="radio"] {
    height: 2rem;
    width: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%; /* Hace que el input sea circular */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"]:checked {
    background-color: #007bff;
    border-color: #007bff;
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    visibility: hidden;
}

input[type="radio"]:checked::before {
    visibility: visible;
}