.container {
    width: min(120rem, 90%);
    margin-inline: auto;
    padding-block: 2rem;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.btn {
    padding: 1rem 2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: #1F2937;
    color: #fff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: 1rem;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.card p {
    font-size: 1.2rem;
}

.card h4 {
    font-size: 3.5rem;
    text-align: right;
    width: 100%;
    font-weight: 500;
    margin-top: 2rem;
}

.salesByPaymentMethod {
    margin-top: 1rem;
}