.toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
    padding-inline: 1rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-inline: 1px solid rgba(0, 0, 0, .1);
    border-radius: 8px 8px 0 0;
}

.buttons{
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .8rem;
    overflow: hidden;
    background-color: #F3F4F6;

}

.buttons button{
    padding: 1rem 2rem;
    background-color: #F3F4F6;
}

.buttons .active{
    background-color: #fff;
}

.download{
    border-radius: .5rem;
    padding: .5rem 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
}

.download > svg{
    margin-top: .3rem;
}

.right{
    display: flex;
    align-items: center;
}

.btn{
    padding-block: .5rem;
    background-color: transparent;
}