

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
  text-align: center;
  min-height: auto;
  padding: 10rem 20px;
  background-color: #f9fafb;
}

.title{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.1rem;
    color: rgb(17 24 39);
    margin-bottom: 2rem;
}

.copy{
    color: rgb(107 114 128);
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.copy strong{
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.heroButtonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3rem;
}

.heroButton {
  display: flex;
  align-items: center;
  padding: 2rem 2.5rem;
  background-color: #1971ea;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}



.heroButtonGoogle {
  display: flex;
  align-items: center;
  padding: 2rem 2.5rem;
  border: solid 1px #1971ea;
  color: #1971ea;
  border-radius: 5px;
  cursor: pointer;
}

.heroButtonGoogle .logo {
  width:25px; /* Ajusta el tamaño de la imagen */
  height: auto;
  margin-right: 10px; /* Espacio entre la imagen y el texto */
}
